@model IEnumerable<PES.Models.WeekDataListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MondaySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuesdaySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WednesdaySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThursdaySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FridaySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaturdaySales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SundaySales)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MondaySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdaySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WednesdaySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThursdaySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FridaySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaturdaySales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SundaySales)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
